.dashboard__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3.5rem;
}

.dashboard__item{
    width: calc(100% / 2 - 20px / 2);
    background: var(--bgCOp);
    transition: .2s linear;
    border-radius: 20px;
}

.stats__wrap{
    padding: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
}

.chart__wrap{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.chart__title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--iconC);
}

.chart__inner{
    width: 100%;
    min-height: 350px;
}

@media (max-width: 1320px) {
    .dashboard__item{
        width: 100%;
    }
}
@media (max-width: 998px) {
    .dashboard__content{
        margin-top: 1.5rem;
    }

    .stats__wrap{
        padding: 1rem 2rem;
    }

    .chart__wrap{
        padding: 2rem;
    }
}
@media (max-width: 480px) {
    .chart__wrap{
        padding: 2rem 0;
    }

    .chart__title{
        padding: 0 2rem;
    }

    .chart__inner{
        margin-left: -1.5rem;
    }
}